{% if site.gitment %}
	<div id="comments"></div>
	<link rel="stylesheet" href="/media/css/gitment.css" />
	<script src="/media/js/gitment.browser.js"></script>
	<script type="text/javascript">
		const gitment = new Gitment({
		  id: '{{ site.author }}', // optional
		  owner: '{{ site.github }}',
		  repo: '{{ site.author }}.github.io',
		  oauth: {
		    client_id: '{{ site.oauth_id }}',
		    client_secret: '{{ site.oauth_secret }}',
		  },
		})

		gitment.render('comments')
	</script>
{% endif %}
{% if site.duoshuo %}
	{% if page.thread %}
	<div class="ds-thread" data-thread-key="{{ page.thread }}" data-url="{{ site.url }}{{ page.url }}" data-title="{{ page.title }}" />
	{% else %}
	<div class="ds-thread" />
	{% endif %}	
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"{{ site.duoshuo }}"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
{% endif %}