---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	{% if page.prev_log != null %}
		<a href="{{ page.prev_log }}" class="pageNav">上一篇</a>
    {% else %}
		<a class="pageNavInvalid">上一篇</a>
	{% endif %}
	&nbsp;&nbsp;&nbsp;
	{% if page.next_log != null %}
		<a href="{{ page.next_log }}" class="pageNav">下一篇</a>
    {% else %}
		<a class="pageNavInvalid">下一篇</a>
	{% endif %}
</span>
</section>
{% include comments.html %}
