---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	<a 
		{% if page.prev_log != null %}
			href="{{ page.prev_log }}" class="pageNav"
	    {% else %}
			class="pageNavInvalid"
		{% endif %}
		>上一篇<
	/a>
	&nbsp;&nbsp;&nbsp;
	<a
		{% if page.next_log != null %}
			href="{{ page.next_log }}" class="pageNav"
	    {% else %}
			class="pageNavInvalid"
		{% endif %}
		>下一篇<
	/a>
</span>
</section>
{% include comments.html %}
