---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>

<span class="categories show-on-mobiles">
  ｜
  <a title="网站首页" class="" href="/">首页</a>&nbsp;
</span>

{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	{% if page.previous %} 
		<a href="{{ page.previous.url }}" class="pageNav">上一篇</a>
    {% else %}
		<a class="pageNavInvalid">上一篇</a>
	{% endif %}
	&nbsp;&nbsp;&nbsp;
	{% if page.next %}
		<a href="{{ page.next.url }}" class="pageNav">下一篇</a>
    {% else %}
		<a class="pageNavInvalid">下一篇</a>
	{% endif %}
</span>
</section>
{% include comments.html %}
